@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
}
.nav {
  @apply p-5 w-full fixed z-10;
}

.banner__buttons {
  @apply text-xs md:text-base cursor-pointer px-8 py-2 mr-4 outline-none border-none font-bold transition-all duration-300 ease-in;
}

@layer utilities {
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
