.row {
  color: white;
  margin-left: 30px;
  padding-bottom: 10px;
}

.row__posterContainer {
  display: flex;
  overflow-y: hidden;
  /* make the container scrolling horizontally  */
  overflow-x: scroll;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

  /* * Adding padding when using overflow allows the transform scale to scale the height too
    Dont know the reasoning but fixes the error of height not scaling in hover effect
  */
  padding: 20px;
}

.row__posterContainer::-webkit-scrollbar {
  display: none;
}

.row__poster {
  max-height: 100px;
  object-fit: contain;
  margin-right: 10px;
  border-radius: 5px;
  transition: transform 450ms;
}

.row__poster:hover {
  transform: scale(1.08);
  opacity: 1;
}

.row__posterLarge {
  max-height: 250px;
}
.row__posterLarge:hover {
  transform: scale(1.09);
}
